@model BD2.Model.EncomiendaBus

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>EncomiendaBus</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="BusID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="BusID" class ="form-control" asp-items="ViewBag.BusID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EncomiendaID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="EncomiendaID" class ="form-control" asp-items="ViewBag.EncomiendaID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EstadoID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="EstadoID" class ="form-control" asp-items="ViewBag.EstadoID"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
