@model BD2.Model.EncomiendaBus

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>EncomiendaBus</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="BusID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="BusID" class="form-control" asp-items="ViewBag.BusID"></select>
                <span asp-validation-for="BusID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EncomiendaID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="EncomiendaID" class="form-control" asp-items="ViewBag.EncomiendaID"></select>
                <span asp-validation-for="EncomiendaID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EstadoID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="EstadoID" class="form-control" asp-items="ViewBag.EstadoID"></select>
                <span asp-validation-for="EstadoID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
